# Sensitive data  
*.pem  
*.key  
*.env  
.vault_pass  
secrets.yml

# Python  
__pycache__/  
*.pyc  
venv/  
.env/

# Ansible  
*.retry

# System  
.DS_Store  
Thumbs.db

# Logs  
logs/  
*.log

# Database  
*.db  
*.sqlite3
